<!-- views/index.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Sinatra API Call</title>
</head>
<body>
  <h1>Kanye says</h1>
  <p>
   <% @api_data.each do |item| %>
      <em><%= item.second %></em>
    <% end %>

    <%= image_data %>
  </p>
</body>
</html>
