<!-- views/index.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Sinatra API Call</title>
</head>
<body>
  <h1>Intrusive thoughts: Starring ✨Kanye West✨</h1>
  <p>
   <% @api_data.each do |item| %>
      <em><%= item.second %></em>
    <% end %>
  </p>
</body>
</html>
