<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="<%= KANYE_GIF_URL %>" alt="floating Kanye head" width="50" height="50">
    Intrusive thoughts: Kanye West
  </a>
</nav>

<div class="container">
  <div>
    <h1>Hey Kanye,</h1>
    <br>
    <h2>Give me some wisdom</h2>
  </div>

  <div class="d-flex flex-wrap typewriter">
    <h3>
      <% @api_data.each do |item| %>
        <em><%= item.second %></em>
      <% end %>
    </h3>
  </div>

  <img src="https://freepngimg.com/save/156153-kanye-rapper-west-free-clipart-hd/512x512" width="100">

</div>
